<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <add key="COMPort" value="COM1" />
    
    <!--串行波特率-->
    <add key="BaudRate" value="115200" />
    
    <!--每个字节的标准数据位长度-->
    <add key="DataBits" value="8" />
    
    <!--设置每个字节的标准停止位数 0:NONE 1:ONE 2:TWO 3:OnePointFive-->
    <add key="StopBits" value="1" />
    
    <!--设置奇偶校验检查协议 0:NONE 1:ODD 2:EVEN 3:MARK 4:SPACE-->
    <add key="Parity" value="0" />
    
    <!--ReadTimeout 单位毫秒-->
    <add key="ReadTimeout" value="3000" />
    <!--WriteTimeout 单位毫秒-->
    <add key="WriteTimeout" value="3000" />
    
    <!--接收字节阀值 一般都设为1-->
    <add key="ReceivedBytesThreshold" value="1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>