
@{
    ViewBag.Title = "YSManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>萤石批量管理</h2>
@using (Html.BeginForm())
{
    <input type="submit" value="批量添加设备" onclick='this.form.action="@Url.Action("AddDevice")" ' />

    <div class="form-group">
        <label>输入信息</label>
        <textarea name="SendData" class="form-control" rows="10" placeholder="Enter ..."></textarea>
    </div>
    <div class="form-group">
        <label>返回信息</label>
        <textarea class="form-control" rows="10" placeholder="" disabled>@ViewBag.retMsg</textarea>
    </div>
}
