<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="WebPlatformDataContext" connectionString="Data Source=180.167.115.242,8003;Initial Catalog=WebPlatformReciveData;Persist Security Info=True;User ID=sa;Password=INITIAL_2008;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--;分隔-->
    <add key="cinemaID" value="61015901"/>
  </appSettings>
</configuration>
